*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import "./mixins_variables.scss";
@include loader;
body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Lato, Helvetica, sans-serif;
  background-color: #1d1d1d;
}
