// MIXINS
@mixin h2() {
  color: $text-color-primary;
  font-family: "Anton", sans-serif;
  font-size: 40px;
  font-weight: 300;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin linkOverlayButton {
  .link-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .link-contain {
      height: 100%;
      width: 80%;
      @include center();
      overflow: hidden;

      .bg {
        left: 0%;
        position: absolute;
        background-color: $element-color-primary;
        width: 0;
        height: 100%;
        -webkit-transition: width 0.3s ease-out;
        -o-transition: width 0.3s ease-out;
        transition: width 0.3s ease-out;
        z-index: 3;
      }

      a:hover .bg {
        width: 100%;
      }

      a {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        width: 30%;
        height: 30px;
        border: 1px solid $element-color-primary;
        background-color: $text-color-white;
        color: $element-color-primary;
        transition: 0.3s;

        span,
        i {
          z-index: 4;
        }

        &:hover {
          border: 1px solid;
          span,
          i {
            color: darken(#555, $amount: 8);
          }
        }
        &:visited {
          color: #555;
        }
        span {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
// Variables

$text-color-white: #ffff;
$text-color-grey: rgb(173, 173, 173);
$text-color-primary: #48ff00;
$element-color-primary: #0fc730;
$text-color-tertiary: #faf200;
$overlay-background-color: #efefef;
