.portfolio {
  padding: 3rem 3rem;

  h2 {
    @include h2();
  }
  p {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $text-color-grey;
  }
}
.projects-display {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;

  .projectCard {
    max-width: 370px;
    width: 33%;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @keyframes showClickHere {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &:hover .click-here {
      display: flex;
    }

    .click-here {
      z-index: 100;
      @include center();
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 40%;
      height: 50%;
      border-radius: 50%;
      background-color: $element-color-primary;
      opacity: 0;
      pointer-events: none;

      animation: showClickHere 0.2s ease-in-out forwards;

      display: none;
      p {
        text-align: center;
        font-size: 80%;
        font-weight: 600;
        font-family: "Raleway", sans-serif;
        color: $text-color-white;

        margin: 0;
      }
    }
  }
  @import "./media_queries/media_queries_portfolio.scss";

  .project-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
@import "overlay.scss";
