.profile {
  padding: 3rem 3rem;
  h2 {
    @include h2();
  }
  .About-me {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text-container {
      padding: 1rem;

      background-color: $overlay-background-color;
      border-radius: 5px;

      p {
        text-align: justify;
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: lighten($text-color-grey, $amount: 10);
      }
    }

    img {
      width: 20%;
      height: 20%;
      margin-bottom: 10px;
      border-radius: 50%;
      border: solid 2px $text-color-white;
      transition: transform 0.1s cubic-bezier(0.42, -0.42, 0.63, 1);
      &:hover {
        animation: jump 0.7s cubic-bezier(0.42, -0.42, 0.63, 1);
      }
      @include jump;
    }
  }
}
@import "./media_queries/media_profile.scss";
