.portfolio {
  padding: 0;
  background-image: url(./Images/craft.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 50px right;

  h2 {
    @include h2();
    padding-left: 1rem;
  }
  p {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: lighten($text-color-grey, $amount: 10);
    font-size: 18px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.projects-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 0;
  width: 100%;

  .projectCard {
    min-width: 280px;

    gap: 0px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    a {
      width: 100%;
      img {
        object-fit: unset;
      }
    }
    @keyframes showClickHere {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &:hover .click-here {
      display: flex;
    }

    .click-here {
      z-index: 100;
      @include center();
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 40%;
      height: 40%;
      border-radius: 50%;
      background-color: $element-color-primary;
      opacity: 0;
      pointer-events: none;

      animation: showClickHere 0.2s ease-in-out forwards;

      display: none;
      p {
        text-align: center;
        font-size: 80%;
        font-weight: 600;
        font-family: "Raleway", sans-serif;
        color: $text-color-white;

        margin: 0;
      }
    }
  }
  .error-msg {
    display: none;
    background-color: $overlay-background-color;
    width: 70%;
    padding: 1rem;

    p {
      font-size: 20px;
      color: lighten($error-msg, $amount: 15);
    }
  }
  @import "./media_queries/media_queries_portfolio.scss";

  .project-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
@import "overlay.scss";
@import "./media_queries/media_queries_portfolio.scss";
