:root {
  --blob-color: 255, 255, 255;
  --blob-x: 1;
  --blob-y: 1;
}
.blob {
  z-index: 2;
  position: absolute;
  display: block;
  width: 40vmin;
  height: 40vmin;
  border-radius: 50%;
  filter: blur(5vmin);
  background: radial-gradient(
    ellipse at center,
    rgba(var(--blob-color), 0.7) 0%,
    rgba(var(--blob-color), 0.65) 100%
  );
  mix-blend-mode: difference;
  top: calc(var(--mouse-y) * 1px);
  left: calc(var(--mouse-x) * 1px);
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
}
.hide-blob {
  display: none;
}
.section-home {
  z-index: 1;
  padding: 3rem 3rem;
  height: 100vh;
  background-image: url(/Images/backgroun-green.png);
  background-size: cover;

  .bar-icon {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    z-index: 10;
    @include center();
    background-color: #353535;
    opacity: 0.8;
    border-radius: 5px;
    width: 3rem;
    padding: 10px;
    cursor: pointer;
    i {
      color: $text-color-white;
      opacity: 1;
    }
    &:hover {
      opacity: 1;
    }
  }
  .menu {
    cursor: default;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    width: 20%;
    min-width: 200px;
    height: 100vh;
    overflow: hidden;
    background-color: $overlay-background-color;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 100;
    &.open {
      transform: translateY(0%);
    }

    .icone-border {
      border-bottom: 1px solid $text-color-grey;

      i {
        color: $text-color-grey;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        cursor: pointer;

        &:hover {
          color: $element-color-primary;
        }
      }
    }

    a {
      text-decoration: none;
      color: $text-color-grey;
      font-size: 30px;
      &:hover {
        color: $element-color-primary;
      }
    }

    .go-to-portfolio,
    .go-to-profile {
      margin-top: 30px;
      padding: 1rem;
      height: 10%;
    }
    .go-to-contact {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      width: 100%;
      height: 90%;
      margin-bottom: 10px;

      i {
        font-size: 40px;
        color: $text-color-grey;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        &:hover {
          color: $element-color-primary;
          transform: scale(1.1);
        }
      }
    }
  }

  .scroll-down {
    color: $text-color-white;
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 10px;

    p {
      margin-bottom: 15px;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
    }
    i {
      @include center();
      animation: jumpi 0.8s cubic-bezier(0.42, -0.42, 0.63, 1) infinite;
    }
    @keyframes jumpi {
      0% {
        transform: translateY(0);
      }
      10% {
        transform: translateY(5);
      }
      20% {
        transform: translateY(0px);
      }
      30% {
        transform: translateY(-5px);
      }
      40% {
        transform: translateY(-10px);
      }
      50% {
        transform: translateY(-5px);
      }
      60% {
        transform: translateY(0px);
      }
      70% {
        transform: translateY(5px);
      }
      80% {
        transform: translateY(0px);
      }
      90% {
        transform: translateY(-2px);
      }

      100% {
        transform: translateY(0);
      }
    }
  }

  .text-zone {
    color: $text-color-white;
    top: 3rem;
    position: relative;
    z-index: 1;
    font-family: "Anton", sans-serif;
    h1 {
      font-size: 50px;
      font-weight: 400;
      .spane-Upercase {
        font-size: 58px;
        color: $text-color-primary;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: #faf200;
        text-shadow: -3px 2px #c6c000;
      }
    }

    p {
      margin-top: 10px;
      font-family: "Raleway", sans-serif;
      color: $text-color-grey;
    }
  }

  .link-contain {
    @include fillLinkBackground;
    position: absolute;
    z-index: 2;

    a {
      position: absolute;
      z-index: 2;

      margin-top: 80px;
      margin-left: 30px;
      border: 1px solid #0af637;
      background-color: transparent;
      width: 150px;
      height: 50px;
      &:hover {
        z-index: 3;
        border: 1px solid white;
        span {
          color: $text-color-white;
        }
      }
      span {
        color: $text-color-white;
      }
    }
  }
}
.cv-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

.cv-container {
  position: absolute;
  z-index: 3;
  top: 5%;
  left: 10%;
  transform: translateY(-50%, -50%);
  width: 80%;
  height: 100vh;
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

.cv-iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
@import "./media_queries/media_home.scss";
