*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section-loader {
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 5;
  animation: loaderscreen infinite;
  animation-delay: 200s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  place-items: center;
  color: rgb(173, 173, 173);
  font-family: "Raleway", sans-serif;
}

.load-text {
  margin-left: 25px;
}

.loader {
  width: 50px;
  height: 50px;
  position: relative;
}

.loader_circles {
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #48ff00;
  animation: spin 1s linear infinite;
}
.loader_circles::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #faf200;
  opacity: 0.8;
  animation: spin 5s linear infinite;
}
.loader_circles::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  bottom: 12px;
  right: 12px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #0fc730;
  opacity: 0.6;
  animation: spin 10s linear infinite;
}

@keyframes loaderscreen {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Lato, Helvetica, sans-serif;
  background-color: #1d1d1d;
}

:root {
  --blob-color: 255, 255, 255;
  --blob-x: 1;
  --blob-y: 1;
}

.blob {
  z-index: 2;
  position: absolute;
  display: block;
  width: 35vmin;
  height: 35vmin;
  border-radius: 50%;
  filter: blur(5vmin);
  background: radial-gradient(ellipse at center, rgba(var(--blob-color), 0.7) 0%, rgba(var(--blob-color), 0.65) 100%);
  mix-blend-mode: difference;
  top: calc(var(--mouse-y) * 1px);
  left: calc(var(--mouse-x) * 1px);
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
}

.hide-blob {
  display: none;
}

@media screen and (max-width: 768px) {
  .blob {
    display: none !important;
  }
}
.section-home {
  z-index: 1;
  padding: 3rem 3rem;
  height: 100vh;
  background-image: url(./Images/background-green.png);
  background-size: cover;
}
.section-home .bar-icon {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353535;
  opacity: 0.8;
  border-radius: 5px;
  width: 3rem;
  padding: 10px;
  cursor: pointer;
}
.section-home .bar-icon i {
  color: white;
  opacity: 1;
}
.section-home .bar-icon:hover {
  opacity: 1;
}
.section-home .menu {
  cursor: default;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  width: 20%;
  min-width: 200px;
  height: 100vh;
  overflow: hidden;
  background-color: #2b2b2b;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.section-home .menu.open {
  transform: translateY(0%);
}
.section-home .menu .icone-border {
  border-bottom: 1px solid rgb(173, 173, 173);
}
.section-home .menu .icone-border i {
  color: rgb(173, 173, 173);
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.section-home .menu .icone-border i:hover {
  color: #0fc730;
}
.section-home .menu a {
  text-decoration: none;
  color: rgb(173, 173, 173);
  font-size: 30px;
}
.section-home .menu a:hover {
  color: #0fc730;
}
.section-home .menu .go-to-portfolio,
.section-home .menu .go-to-profile {
  margin-top: 30px;
  padding: 1rem;
  height: 10%;
}
.section-home .menu .go-to-contact {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  height: 90%;
  margin-bottom: 10px;
}
.section-home .menu .go-to-contact i {
  font-size: 40px;
  color: rgb(173, 173, 173);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.section-home .menu .go-to-contact i:hover {
  color: #0fc730;
  transform: scale(1.1);
}
.section-home .scroll-down {
  color: white;
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 10px;
}
.section-home .scroll-down p {
  margin-bottom: 15px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.section-home .scroll-down i {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: jumpi 0.8s cubic-bezier(0.42, -0.42, 0.63, 1) infinite;
}
@keyframes jumpi {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(5);
  }
  20% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(5px);
  }
  80% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
.section-home .text-zone {
  color: white;
  top: 3rem;
  position: relative;
  z-index: 1;
  font-family: "Anton", sans-serif;
}
.section-home .text-zone h1 {
  font-size: 50px;
  font-weight: 400;
}
.section-home .text-zone h1 .spane-Upercase {
  font-size: 58px;
  color: #48ff00;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #faf200;
  text-shadow: -3px 2px #c6c000;
}
.section-home .text-zone p {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  color: rgb(173, 173, 173);
}
.section-home .link-contain {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 300px;
  width: 90%;
}
.section-home .link-contain .bg {
  left: 0%;
  position: absolute;
  background-color: #0fc730;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
  z-index: 3;
}
.section-home .link-contain a:hover .bg {
  width: 100%;
}
.section-home .link-contain a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  width: 30%;
  height: 30px;
  border: 1px solid #0fc730;
  background-color: white;
  color: #0fc730;
  transition: 0.3s;
}
.section-home .link-contain a span,
.section-home .link-contain a i {
  z-index: 4;
}
.section-home .link-contain a:hover {
  border: 1px solid;
}
.section-home .link-contain a:hover span,
.section-home .link-contain a:hover i {
  color: #414141;
}
.section-home .link-contain a:visited {
  color: #555;
}
.section-home .link-contain a span {
  margin-right: 0.5rem;
}
.section-home .link-contain a {
  position: absolute;
  z-index: 2;
  border: 1px solid #0af637;
  background-color: transparent;
  width: 15%;
  height: 50px;
}
.section-home .link-contain a:hover {
  z-index: 3;
  border: 1px solid white;
}
.section-home .link-contain a:hover span {
  color: white;
}
.section-home .link-contain a span {
  color: white;
}

.cv-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

.cv-container {
  position: absolute;
  z-index: 3;
  top: 5%;
  left: 10%;
  transform: translateY(-50%, -50%);
  width: 80%;
  height: 100vh;
  background-color: #fff;
}

.cv-iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

@media screen and (min-width: 2240px) {
  .section-home .bar-icon {
    font-size: 5rem;
    width: 6rem;
  }
  .section-home .menu .icone-border i {
    font-size: 30px;
  }
  .section-home .menu .icone-border a {
    font-size: 40px;
  }
  .section-home .menu .icone-border .go-to-contact i {
    font-size: 60px;
  }
  .section-home .scroll-down p {
    font-size: 30px;
  }
  .section-home .scroll-down i {
    font-size: 30px;
  }
  .section-home .text-zone h1 {
    font-size: 90px;
  }
  .section-home .text-zone h1 span {
    font-size: 98px;
  }
  .section-home .text-zone h1 .spane-Upercase {
    font-size: 108px;
  }
  .section-home .text-zone p {
    font-size: 30px;
  }
  .section-home .link-contain a {
    width: 180px;
    height: 80px;
    font-size: 25px;
  }
}
@media screen and (max-width: 440px) {
  .section-home {
    background-size: contain;
    padding: 1rem;
  }
  .section-home .bar-icon {
    font-size: 1rem;
    width: 2rem;
  }
  .section-home .menu .icone-border i {
    font-size: 15px;
  }
  .section-home .menu a {
    font-size: 20px;
  }
  .section-home .menu .go-to-contact i {
    font-size: 40px;
  }
  .section-home .scroll-down p {
    font-size: 15px;
  }
  .section-home .scroll-down i {
    font-size: 15px;
  }
  .section-home .text-zone {
    top: 5rem;
  }
  .section-home .text-zone h1 {
    font-size: 18px;
  }
  .section-home .text-zone h1 span {
    font-size: 28px;
  }
  .section-home .text-zone h1 .spane-Upercase {
    font-size: 38px;
  }
  .section-home .text-zone p {
    font-size: 15px;
  }
  .section-home .link-contain a {
    top: 50%;
    width: 100%;
    height: 40px;
    font-size: 15px;
  }
}
@media screen and (min-width: 2240px) {
  .section-home .bar-icon {
    font-size: 5rem;
    width: 6rem;
  }
  .section-home .menu .icone-border i {
    font-size: 30px;
  }
  .section-home .menu .icone-border a {
    font-size: 40px;
  }
  .section-home .menu .icone-border .go-to-contact i {
    font-size: 60px;
  }
  .section-home .scroll-down p {
    font-size: 30px;
  }
  .section-home .scroll-down i {
    font-size: 30px;
  }
  .section-home .text-zone h1 {
    font-size: 90px;
  }
  .section-home .text-zone h1 span {
    font-size: 98px;
  }
  .section-home .text-zone h1 .spane-Upercase {
    font-size: 108px;
  }
  .section-home .text-zone p {
    font-size: 30px;
  }
  .section-home .link-contain a {
    width: 180px;
    height: 80px;
    font-size: 25px;
  }
}
@media screen and (max-width: 440px) {
  .section-home {
    background-size: contain;
    padding: 1rem;
  }
  .section-home .bar-icon {
    font-size: 1rem;
    width: 2rem;
  }
  .section-home .menu .icone-border i {
    font-size: 15px;
  }
  .section-home .menu a {
    font-size: 20px;
  }
  .section-home .menu .go-to-contact i {
    font-size: 40px;
  }
  .section-home .scroll-down p {
    font-size: 15px;
  }
  .section-home .scroll-down i {
    font-size: 15px;
  }
  .section-home .text-zone {
    top: 5rem;
  }
  .section-home .text-zone h1 {
    font-size: 18px;
  }
  .section-home .text-zone h1 span {
    font-size: 28px;
  }
  .section-home .text-zone h1 .spane-Upercase {
    font-size: 38px;
  }
  .section-home .text-zone p {
    font-size: 15px;
  }
  .section-home .link-contain a {
    top: 50%;
    width: 100%;
    height: 40px;
    font-size: 15px;
  }
}
.portfolio {
  padding: 3rem 3rem;
  background-image: url(./Images/craft.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 50px right;
}
.portfolio h2 {
  color: #48ff00;
  font-family: "Anton", sans-serif;
  font-size: 40px;
  font-weight: 300;
}
.portfolio p {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #c7c7c7;
  font-size: 18px;
}

.projects-display {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
}
.projects-display .projectCard {
  max-width: 370px;
  width: 33%;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@keyframes showClickHere {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.projects-display .projectCard:hover .click-here {
  display: flex;
}
.projects-display .projectCard .click-here {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 40%;
  height: 50%;
  border-radius: 50%;
  background-color: #0fc730;
  opacity: 0;
  pointer-events: none;
  animation: showClickHere 0.2s ease-in-out forwards;
  display: none;
}
.projects-display .projectCard .click-here p {
  text-align: center;
  font-size: 80%;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: white;
  margin: 0;
}
@media (max-width: 768px) {
  .projects-display .projects-display {
    justify-content: center;
  }
  .projects-display .projectCard {
    width: 48%;
  }
  .projects-display .click-here {
    width: 30%;
    height: 50%;
  }
}
@media (max-width: 490px) {
  .projects-display .projects-display {
    justify-content: center;
  }
  .projects-display .projectCard {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .projects-display .projectCard {
    width: 33%;
  }
}
.projects-display .project-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  transition: all 0.2s ease-in-out;
}
.projects-display .project-img:hover {
  transform: scale(1.1);
}

.section-loader {
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 5;
  animation: loaderscreen infinite;
  animation-delay: 200s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  place-items: center;
  color: rgb(173, 173, 173);
  font-family: "Raleway", sans-serif;
}

.load-text {
  margin-left: 25px;
}

.loader {
  width: 50px;
  height: 50px;
  position: relative;
}

.loader_circles {
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #48ff00;
  animation: spin 1s linear infinite;
}
.loader_circles::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #faf200;
  opacity: 0.8;
  animation: spin 5s linear infinite;
}
.loader_circles::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  bottom: 12px;
  right: 12px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #0fc730;
  opacity: 0.6;
  animation: spin 10s linear infinite;
}

@keyframes loaderscreen {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.section-loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0rem;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
  height: 100%;
  width: 100%;
}
.overlay .overlay-content {
  overflow: hidden;
  background-color: #2b2b2b;
  padding: 1rem;
  top: 5%;
  left: 15%;
  bottom: 5%;
  position: absolute;
  width: 70%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.overlay .overlay-content .overlay-img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.overlay .overlay-content .link-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overlay .overlay-content .link-items .link-contain {
  height: 100%;
  width: 100%;
  display: flex;
  margin-left: 40px;
  align-items: flex-end;
  justify-content: end;
  overflow: hidden;
}
.overlay .overlay-content .link-items .link-contain .bg {
  left: 0%;
  position: absolute;
  background-color: #0fc730;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
  z-index: 3;
}
.overlay .overlay-content .link-items .link-contain a:hover .bg {
  width: 100%;
}
.overlay .overlay-content .link-items .link-contain a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  width: 30%;
  height: 30px;
  border: 1px solid #0fc730;
  background-color: white;
  color: #0fc730;
  transition: 0.3s;
}
.overlay .overlay-content .link-items .link-contain a span,
.overlay .overlay-content .link-items .link-contain a i {
  z-index: 4;
}
.overlay .overlay-content .link-items .link-contain a:hover {
  border: 1px solid;
}
.overlay .overlay-content .link-items .link-contain a:hover span,
.overlay .overlay-content .link-items .link-contain a:hover i {
  color: #414141;
}
.overlay .overlay-content .link-items .link-contain a:visited {
  color: #555;
}
.overlay .overlay-content .link-items .link-contain a span {
  margin-right: 0.5rem;
}
.overlay .overlay-content .overlay-h1 {
  margin-bottom: 1rem;
  font-family: "Anton", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #3acc00;
}
.overlay .overlay-content h2 {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  color: #3acc00;
}
.overlay .overlay-content .overlay-description {
  background-color: #383838;
  border-radius: 3px;
  padding: 1rem;
  color: #bababa;
}
.overlay .overlay-content .overlay-description h1 {
  font-size: 20px;
  color: #e0e0e0;
}
.overlay .overlay-content .overlay-items {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.overlay .overlay-content .overlay-items img {
  width: 50px;
}
.overlay .overlay-close {
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: rgb(173, 173, 173);
  cursor: pointer;
  font-size: 20px;
}

@media screen and (max-width: 440px) {
  .overlay .overlay-content {
    left: 0;
    width: 100%;
    padding: 0;
  }
  .overlay .overlay-content .overlay-h1 {
    font-size: 30px;
    padding: 1rem;
  }
  .overlay .link-items {
    margin-top: 10px;
    flex-direction: column;
    justify-content: center !important;
  }
  .overlay .link-items .link-contain {
    height: 100px !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .overlay .link-items h2 {
    padding: 1rem;
  }
  .overlay .link-items .overlay-items img {
    width: 40px;
  }
  .overlay .link-items a {
    width: 200px !important;
  }
}
@media (max-width: 768px) {
  .projects-display {
    justify-content: center;
  }
  .projectCard {
    width: 48%;
  }
  .click-here {
    width: 30%;
    height: 50%;
  }
}
@media (max-width: 490px) {
  .projects-display {
    justify-content: center;
  }
  .projectCard {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .projectCard {
    width: 33%;
  }
}
@media (max-width: 768px) {
  .projects-display {
    justify-content: center;
  }
  .projectCard {
    width: 48%;
  }
  .click-here {
    width: 30%;
    height: 50%;
  }
}
@media (max-width: 490px) {
  .projects-display {
    justify-content: center;
  }
  .projectCard {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .projectCard {
    width: 33%;
  }
}
.profile {
  padding: 3rem 3rem;
}
.profile h2 {
  color: #48ff00;
  font-family: "Anton", sans-serif;
  font-size: 40px;
  font-weight: 300;
}
.profile .About-me {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile .About-me .text-container {
  padding: 1rem;
  background-color: #2b2b2b;
  border-radius: 5px;
}
.profile .About-me .text-container p {
  text-align: justify;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #c7c7c7;
}
.profile .About-me img {
  width: 20%;
  height: 20%;
  margin-bottom: 10px;
  border-radius: 50%;
  border: solid 2px white;
  transition: transform 0.1s cubic-bezier(0.42, -0.42, 0.63, 1);
}
.profile .About-me img:hover {
  animation: jump 0.7s cubic-bezier(0.42, -0.42, 0.63, 1);
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(10);
  }
  20% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 440px) {
  .profile {
    padding: 0;
    position: relative;
  }
  .profile h2 {
    height: 100px;
    padding: 1rem;
  }
  .profile .About-me {
    flex-direction: column;
    align-items: center;
  }
  .profile .About-me .text-container {
    width: 100%;
  }
  .profile .About-me img {
    top: 90px;
    width: 35%;
  }
}
.contact-section {
  padding: 3rem 3rem;
}
.contact-section h2 {
  color: #48ff00;
  font-family: "Anton", sans-serif;
  font-size: 40px;
  font-weight: 300;
}

.block-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.contact-container i {
  font-size: 50px;
  color: rgb(173, 173, 173);
  transition: transform 0.2s ease-in-out;
}
.contact-container i:hover {
  transform: scale(1.1);
  color: #0fc730;
  cursor: pointer;
}

.form-contact-container {
  display: none;
}

.form-contact {
  position: fixed;
  top: 0;
  left: 0rem;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  height: 100%;
  width: 100%;
}
.form-contact h2 {
  color: #48ff00;
  font-family: "Anton", sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 300;
}
.form-contact form {
  background-color: #2b2b2b;
  padding: 1rem;
  top: 5%;
  left: 15%;
  bottom: 5%;
  position: absolute;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.form-contact form .close-form {
  position: absolute;
  right: 20px;
  top: 10px;
}
.form-contact form .close-form i {
  font-size: 20px;
}
.form-contact form .close-form i :hover {
  transform: scale(1.1);
  background-color: #0fc730;
}
.form-contact form input,
.form-contact form textarea {
  background-color: #333333;
  border: none;
  height: 100%;
  padding: 1rem;
  font-size: 15px;
  resize: none;
  font-family: "Raleway", sans-serif;
  color: #848484;
  appearance: none;
  background-image: none;
}
.form-contact form input:focus,
.form-contact form textarea:focus {
  color: #9e9e9e;
  border: 1px solid #0fc730;
  outline: none;
}
.form-contact form inputinput:-internal-autofill-selected,
.form-contact form textareainput:-internal-autofill-selected {
  background-color: #333333;
}
.form-contact form .validation-error {
  border: 1px solid #ff0000;
}
.form-contact form .email-address {
  margin-bottom: 25px;
  height: 50px;
}
.form-contact form .email-address input {
  width: 25%;
}
.form-contact form .email-subject {
  margin-bottom: 25px;
  height: 50px;
}
.form-contact form .email-subject input {
  width: 100%;
}
.form-contact form .email-message {
  height: 35%;
}
@media screen and (min-width: 1500px) {
  .form-contact form .email-message {
    height: 60%;
  }
}
.form-contact form .email-message textarea {
  width: 100%;
}
.form-contact form .email-error,
.form-contact form .subject-error,
.form-contact form .message-error {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ff0000;
  font-size: 13px;
}
.form-contact form button {
  position: absolute;
  bottom: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  width: 30%;
  height: 30px;
  border: 1px solid #0fc730;
  background-color: transparent;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.form-contact form button .background {
  left: 0%;
  position: absolute;
  background-color: #0fc730;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
  z-index: 3;
}
.form-contact form button:hover .background {
  width: 100%;
}
.form-contact form button .send {
  z-index: 4;
}
.form-contact form button:hover {
  border: 1px solid;
}
.form-contact form button:hover span {
  color: #414141;
}

@media screen and (max-width: 440px) {
  .contact-container {
    width: 100%;
  }
  .contact-container form {
    width: 100%;
    left: 0%;
  }
  .contact-container form h2 {
    font-size: 25px;
    margin-top: 0;
  }
  .contact-container form .email-address input {
    width: 100%;
  }
  .contact-container form textarea {
    height: 80%;
  }
  .contact-container form .close-form {
    top: 20px;
  }
  .contact-container form .close-form i {
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
