*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// MIXINS
@mixin h2() {
  color: $text-color-primary;
  font-family: "Anton", sans-serif;
  font-size: 40px;
  font-weight: 300;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// Variables

$text-color-white: #ffff;
$text-color-grey: rgb(198, 198, 198);
$text-color-primary: #48ff00;
$element-color-primary: #0fc730;
$text-color-teriary: #faf200;
body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Lato, Helvetica, sans-serif;
  background-color: #1d1d1d;
}
.section-home {
  padding: 3rem 3rem;
  height: 100vh;
  background-image: url(./Images/backgroun-green.png);
  object-fit: cover;

  .bar-icon {
    position: fixed;
    top: 3rem;
    right: 3rem;
    font-size: 50px;
    z-index: 100;
    @include center();
    background-color: #353535;
    opacity: 0.8;
    border-radius: 5px;
    width: 5rem;
    padding: 1rem;
    cursor: pointer;
    i {
      color: $text-color-white;
      opacity: 1;
    }
    &:hover {
      opacity: 1;
    }
  }
  .scroll-down {
    color: $text-color-white;
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    right: 10px;

    p {
      margin-bottom: 10px;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
    }
    i {
      @include center();
    }
  }

  .text-zone {
    color: $text-color-white;
    top: 3rem;
    position: relative;
    z-index: 1;
    font-family: "Anton", sans-serif;
    h1 {
      font-size: 50px;
      font-weight: 400;
      span {
        font-size: 58px;
        color: $text-color-primary;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: #faf200;
        text-shadow: -3px 2px #c6c000;
      }
    }

    p {
      margin-top: 10px;
      font-family: "Raleway", sans-serif;
      color: $text-color-grey;
    }
  }
  a {
    margin-top: 80px;
    margin-left: 30px;
    border: 1px solid #0af637;
    width: 150px;
    height: 50px;
    @include center();
    text-decoration: none;
    color: $text-color-primary;
    &:hover {
      background-color: $element-color-primary;
      color: $text-color-white;
      border: 1px solid $text-color-white;
    }
  }
}

.portfolio {
  padding: 3rem 3rem;

  h2 {
    @include h2();
  }
  p {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $text-color-grey;
  }
}
.projects-display {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;

  .projectCard {
    width: 33%;
    height: 300px;
    border: 1px solid gold;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @keyframes showClickHere {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &:hover .click-here {
      display: flex;
    }

    .click-here {
      z-index: 100;
      @include center();
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 40%;
      height: 50%;
      border-radius: 50%;
      background-color: $element-color-primary;
      opacity: 0;
      pointer-events: none;

      animation: showClickHere 0.2s ease-in-out forwards;

      display: none;
      p {
        text-align: center;
        font-size: 80%;
        font-weight: 600;
        font-family: "Raleway", sans-serif;
        color: $text-color-white;

        margin: 0;
      }
    }
  }

  @media (max-width: 768px) {
    .projects-display {
      justify-content: center;
    }
    .projectCard {
      width: 48%;
    }
  }
  @media (max-width: 490px) {
    .projects-display {
      justify-content: center;
    }
    .projectCard {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  @media (min-width: 768px) {
    .projectCard {
      width: 33%;
    }
  }

  .project-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.profile {
  padding: 3rem 3rem;
  h2 {
    @include h2();
  }
  p {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $text-color-grey;
  }
}
