@media (max-width: 768px) {
  .projects-display {
    justify-content: center;
  }
  .projectCard {
    width: 48%;
  }
  &.click-here {
    width: 30%;
    height: 50%;
  }
}
@media (max-width: 490px) {
  .projects-display {
    justify-content: center;
  }
  .projectCard {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .projectCard {
    width: 33%;
  }
}
