@media screen and (max-width: 440px) {
  .profile {
    padding: 0;
    position: relative;
    h2 {
      height: 100px;
      padding: 1rem;
    }
    .About-me {
      flex-direction: column;
      align-items: center;

      .text-container {
        width: 100%;
        p {
        }
      }
      img {
        top: 90px;
        width: 35%;
      }
    }
  }
}
