@media (min-width: 768px) {
  .projectCard {
    width: 50%;
  }
}
@media (min-width: 440px) and (max-width: 768px) {
  .projectCard .click-here {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .projectCard {
    width: 33.33%;
  }
}
@media (min-width: 1440px) {
  .projectCard {
    width: 25%;
  }
}
@media (min-width: 2560px) {
  .projectCard {
    width: 10%;
  }
}
